<p>Hi <%= @user.name %>,</p>
<p>We received a request to reset your Communnity account password.</p>
<p>
  <a href="<%= @reset_url %>">Reset your password</a>
  (This link expires in 2 hours.)
  </p>
<p>If you didn’t request this, you can ignore this email.</p>

